@use '../../utils/variables.scss' as *;
@use '../../utils/mixins.scss' as *;

.about {
  padding-bottom: 92px;

  @include page-grid;

  @include on-tablet {
    padding-bottom: 132px;
  }

  @include on-desktop {
    padding-bottom: 164px;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__text {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
