$main-black: #000;
$second-black: #1d1d1d;
$main-white: #fff;
$main-gray: #e5e5e5;
$bg-dark-color: #1d1d1d;
$form-gray: #7e7e83;
$tablet-min-width: 744px;
$desctop-min-width: 1024px;
$effectDuration: 0.3s;
