@use '../../utils/mixins' as *;

.icon {
  display: block;
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }
}

.icon-phone {
  background-image: url(../icons/icon-phone.svg);
}

.icon-burger {
  background-image: url(../icons/burger.svg);

  &:hover {
    background-image: url(../icons/icon-burger-menu-hover.svg);
  }
}

.icon-close {
  background-image: url(../icons/close.svg);
}
