@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.menu {
  background-color: $main-gray;
  box-sizing: border-box;
  font-weight: 600;
  text-transform: uppercase;
  overflow: auto;

  &__nav {
    margin-bottom: 40px;
  }

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 48px;
  }
}
